.arrow.left.arrow-color-0:after{border-right-color:#7266ba;}
.arrow.right.arrow-color-0:after{border-left-color:#7266ba;}
.arrow.left.arrow-color-1:after{border-right-color:#27c24c;}
.arrow.right.arrow-color-1:after{border-left-color:#27c24c;}
.arrow.left.arrow-color-2:after{border-right-color:#23b7e5;}
.arrow.right.arrow-color-2:after{border-left-color:#23b7e5;}
.arrow.left.arrow-color-3:after{border-right-color:#fad733;}
.arrow.right.arrow-color-3:after{border-left-color:#fad733;}
.arrow.left.arrow-color-4:after{border-right-color:#f05050;}
.arrow.right.arrow-color-4:after{border-left-color:#f05050;}
.arrow.left.arrow-color-5:after{border-right-color:#631A86;}
.arrow.right.arrow-color-5:after{border-left-color:#631A86;}
.arrow.left.arrow-color-6:after{border-right-color:#8A6552;}
.arrow.right.arrow-color-6:after{border-left-color:#8A6552;}
.arrow.left.arrow-color-7:after{border-right-color:#985F99;}
.arrow.right.arrow-color-7:after{border-left-color:#985F99;}
.arrow.left.arrow-color-8:after{border-right-color:#F39237;}
.arrow.right.arrow-color-8:after{border-left-color:#F39237;}
.arrow.left.arrow-color-9:after{border-right-color:#A2D729;}
.arrow.right.arrow-color-9:after{border-left-color:#A2D729;}
.arrow.left.arrow-color-10:after{border-right-color:#414066;}
.arrow.right.arrow-color-10:after{border-left-color:#414066;}