.c-white{color:white;}
.bg-color-0{background-color:#7266ba !important;}.b-color-0{border-color:#7266ba;}
.bg-color-1{background-color:#27c24c !important;}.b-color-1{border-color:#27c24c;}
.bg-color-2{background-color:#23b7e5 !important;}.b-color-2{border-color:#23b7e5;}
.bg-color-3{background-color:#fad733 !important;}.b-color-3{border-color:#fad733;}
.bg-color-4{background-color:#f05050 !important;}.b-color-4{border-color:#f05050;}
.bg-color-5{background-color:#631A86 !important;}.b-color-5{border-color:#631A86;}
.bg-color-6{background-color:#8A6552 !important;}.b-color-6{border-color:#8A6552;}
.bg-color-7{background-color:#985F99 !important;}.b-color-7{border-color:#985F99;}
.bg-color-8{background-color:#F39237 !important;}.b-color-8{border-color:#F39237;}
.bg-color-9{background-color:#A2D729 !important;}.b-color-9{border-color:#A2D729;}
.bg-color-10{background-color:#414066 !important;}.b-color-10{border-color:#414066;}