.tl-bg{
	background:url(./tlbg.jpg);
	background-size:cover;
}
.arrow.left.color-0:after{border-right-color:#7266ba;}
.arrow.right.color-0:after{border-left-color:#7266ba;}
.arrow.left.color-1:after{border-right-color:#27c24c;}
.arrow.right.color-1:after{border-left-color:#27c24c;}
.arrow.left.color-2:after{border-right-color:#23b7e5;}
.arrow.right.color-2:after{border-left-color:#23b7e5;}
.arrow.left.color-3:after{border-right-color:#fad733;}
.arrow.right.color-3:after{border-left-color:#fad733;}
.arrow.left.color-4:after{border-right-color:#f05050;}
.arrow.right.color-4:after{border-left-color:#f05050;}
.arrow.left.color-5:after{border-right-color:#631A86;}
.arrow.right.color-5:after{border-left-color:#631A86;}
.arrow.left.color-6:after{border-right-color:#8A6552;}
.arrow.right.color-6:after{border-left-color:#8A6552;}
.arrow.left.color-7:after{border-right-color:#985F99;}
.arrow.right.color-7:after{border-left-color:#985F99;}
.arrow.left.color-8:after{border-right-color:#F39237;}
.arrow.right.color-8:after{border-left-color:#F39237;}
.arrow.left.color-9:after{border-right-color:#A2D729;}
.arrow.right.color-9:after{border-left-color:#A2D729;}
.arrow.left.color-10:after{border-right-color:#414066;}
.arrow.right.color-10:after{border-left-color:#414066;}