.dc{
	position:relative;
	display: flex;
	padding: 0;
	margin-top:30px;
	flex-direction: column;
}
.dc:before{
	content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 10px;
    background: #afdcf8;
    left: 17%;
    margin-left: -10px;
}

.dc>.data{
	position: relative;
	display: flex;
	align-items: flex-start;
}

.data>.pic{
	
}

.data>.datetime{
	position:absolute;
	padding-right: 100px;
	color: #6cbfee;
	text-align: right;
	margin-top:-10px;
}

.datetime>.time{
	font-size: 1.5em;
}

.datetime>.date{
	color: gray;
	font-size: 0.7em;
}

.data>.dataicon{
	width: 30px;
    height: 30px;
    font-family: ecoico;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    font-size: 1.4em;
    line-height: 30px;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    color: #fff;
    background: #46a4da;
    border-radius: 50%;
    box-shadow: 0 0 0 8px #afdcf8;
    text-align: center;
    left: 17%;
    top: 0;
    margin: 0 0 0 -20px;
}

.data>.info{
	margin:0 0 20px 25%;
	padding:10px;
	padding-left:20px;
	display:flex;
	color: white;
	background-color: #5be;
	border-radius: 5px;
	box-shadow:5px 5px 3px #888;
	flex: 1;
	flex-direction: column;
	transition: transform 0.3 cubic-bezier(0.68, -0.55, 0.49, 1.4);
}

.info:hover{
	cursor: pointer;
	transform:scale(1.04);
}

.info>.title{
	font-size:2em;
	margin-bottom:5px;
}

.info>.tags{
	color: #DDD;
}

.info>.tags>.tag-icon{
	margin:0 15px 0 5px;
}	

.data>.action{
	display:flex;
	
}
