.dc{
	display: flex;
	flex-direction: column;
}

.dc>.data{
	display: flex;
	align-items: flex-start;
}

.data>.pic{
	
}

.data>.date{
	
}

.data>.info{
	display:flex;
	flex: 1;
	flex-direction: column;
}

.data>.info>.title{
	
}

.data>.info>.tags{
	
}

.data>.action{
	display:flex;
	
}
