.btn-addon-xs i {
  position: relative;
  float: left;
  width: 34px;
  height: 34px;
  margin: -7px -12px;
  margin-right: 12px;
  line-height: 34px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 2px 0 0 2px;
}


.btn-addon-xs.btn-xs i {
  width: 22px;
  height: 22px;
  padding-top: 0px;
  margin: -1px -5px;
  margin-top: -5px;
  margin-right: 0px;
  line-height: 30px;
}

.btn-addon-xs.btn-default i {
  background-color: transparent;
}

.my-hover {
	color: #ddd;
}

.my-hover:hover {
	color: #bbb;
}

.my-mid {
    margin-top: 5px;
    margin-bottom: 5px;
}

.panel .b-l-light {
  border-left-color: #edf1f2;
}

.panel .b-l-dark {
  border-left-color: #3a3f51;
}

.panel .b-l-black {
  border-left-color: #3a3f51;
}

.panel .b-l-primary {
  border-left-color: #7266ba;
}

.panel .b-l-success {
  border-left-color: #27c24c;
}

.panel .b-l-info {
  border-left-color: #23b7e5;
}

.panel .b-l-warning {
  border-left-color: #fad733;
}

.panel .b-l-danger {
  border-left-color: #f05050;
}

.panel .b-l-white {
  border-left-color: #ffffff;
}

.my-background-color {
  background-color: #f6f8f8;
}
