.add-header {
  padding-bottom: 9px;
  margin: 20px 0 20px 0px;
  border-bottom: 1px solid #e5e5e5;
}

.add-body {
  padding: 0px;
}

.add-body-block {
  padding-top: 0px;
  margin: 20px 0 20px 0px;
}

.add-body-block + .add-body-block  {
  padding-top: 20px;
  margin: 20px 0 20px 0px;
  border-top: 1px solid #e5e5e5;
}

.add-footer {
  padding: 15px;
  padding-right: 0px;
  margin: 20px 0px 0px 0px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}

.add-footer .btn + .btn {
  margin-bottom: 0;
  margin-left: 10px;
}


#pdo-dropdown-menu .tt-menu {
  max-height: 270px;
  overflow-y: auto;
}


#data-dropdown-menu .tt-menu {
  max-height: 270px;
  overflow-y: auto;
}


/* search-card */

.search-card {
  position: relative;
  padding: 8px;
  border-bottom: 1px solid #e5e5e5;
}

.search-card-content {
  min-height: 60px;

}

.search-card-title {
  display: inline-block;
  font-weight: 700;
  font-size: 18px;
  color: #6495ED;
}


.search-card-details {
  margin-top: 5px;
  font-size: 14px;
  line-height: 18px;
}

.search-card-attachs {
  float: right;
  text-align: right;
}

.search-card-time {
  display: inline-block;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
}

.search-card-time-label {
  color: #8899a6;
  font-weight: 500;
}


.search-card:hover,
.search-card.is-active {
  color: #fff;
  background: #55acee;
}

.search-card:hover .search-card-time-label,
.search-card.is-active .search-card-time-label {
  color: #fff;
}



/* utilities */

.u-cf:before,
.u-cf:after {
  content: " ";
  display: table;
}

.u-cf:after {
  clear: both;
}

.u-hidden {
  display: none !important;
}

.u-posRelative {
  position: relative;
}
